{#HIDDEN OFF CANVAS MENU#}
<div class="off-canvas position-left bigMenu" id="bigMenu" data-off-canvas  data-transition="overlap">

    <div class="row">
        <div class="small-2 columns align-left">
            <button class="offcanvas-full-screen-close" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="small-10 columns align-right">
            <img src="{{ asset('/build/images/logo.png') }}" alt="Logo" />
        </div>
    </div>

    <div class="row">
        {#CATALOGUES#}
        <div class="small-12 columns">
            <h2 class="section">Catalogues</h2>
            <div class="row">
                <div class="small-12 columns">
                    <div class="menu">
                        <ul>
                            <li><a href="#">Rossignol - Look</a></li>
                            <li><a href="#">Vertical-RaidLight</a></li>
                            <li><a href="#">DLKK</a></li>
                            <li><a href="#">Felt</a></li>
                            <li><a href="#">Dale</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {#MES INFORMATIONS#}
        <div class="small-12 columns">
            <h2 class="section">Mes informations</h2>
            <div class="row">
                <div class="small-12 columns">
                    <div class="menu">
                        <ul>
                            <li><a href="#">Mon compte</a></li>
                            <li><a href="#">Mon mot de passe</a></li>
                            <li><a href="#">Mes commandes</a></li>
                            <li><a href="#">Mes paniers sauvegardés</a></li>
                            <li><a href="#">Mes proposition de commande</a></li>
                            <li><a href="#">Mes factures</a></li>
                            <li><a href="#">Mes expéditions</a></li>
                            <li><a href="#">Mes commandes B2C</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>