{% extends 'layouts/base_layout.html.twig' %}

{% block sonata_page_body_class %}one-column-pre-home{% endblock %}

{% block sonata_page_container %}
    <div class="content">
        <div class="main">
            <div class="row align-center">
                {#LOGO & INTRO#}
                <div class="column small-12 large-6 align-self-middle form-box register">
                    <div class="row align-center">
                        <div class="column small-12 medium-4">
                            <div class="text-center">
                                <img src="{{ asset('/build/images/logo.png') }}" alt="Logo" class="logo"/>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. non officiis perferendis perspiciatis provident, sit vel vitae!</p>
                            </div>
                        </div>
                    </div>
                    {#FORMS#}
                    <div class="column align-center">
                        <ul class="tabs" data-tabs id="account-tabs">
                            <li class="tabs-title"><a href="#login" data-tabs-target="login" >J'ai déjà un compte</a></li>
                            <li class="tabs-title is-active"><a href="#register" aria-selected="true">Créer un compte</a></li>
                        </ul>
                        <div class="tabs-content" data-tabs-content="account-tabs">
                            <div class="tabs-panel" id="login">
                                {#LOGIN#}
                                <h2>J'ai déjà un compte</h2>
                                {% include 'integration_graphique/layouts/inc/login_form.html.twig' %}
                            </div>
                            <div class="tabs-panel is-active" id="register">
                                {#REGISTER#}
                                <h2>Créer un compte</h2>
                                {% include 'integration_graphique/layouts/inc/register_form.html.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'integration_graphique/layouts/inc/footer.html.twig' %}
    </div>
{% endblock %}