{#Storefinder (issu de F2)#}

{#Présenter les champs storefinder en deux colonnes,
avec pour chacun un slider Oui/Non : Rossignol, Dynastar, Lange, Look, Time, Felt, Raidlight, Vertical, Dale#}

<h2>Storefinder</h2>

<div class="row">
    <div class="column small-6 large-4">
        <div>
            <p class="h3">Rossignol</p>
            <input type="checkbox" id="rossignol" name="set-name" data-niceSwitch>
            <label for="rossignol"><span class="toggle--on">Oui</span><span class="toggle--off">Non</span></label>
        </div>
        <div>
            <p class="h3">Dynastar</p>
            <input type="checkbox" id="dynastar" name="set-name" data-niceSwitch>
            <label for="dynastar"><span class="toggle--on">Oui</span><span class="toggle--off">Non</span></label>
        </div>
        <div>
            <p class="h3">Lange</p>
            <input type="checkbox" id="lange" name="set-name" data-niceSwitch>
            <label for="lange"><span class="toggle--on">Oui</span><span class="toggle--off">Non</span></label>
        </div>
    </div>

    <div class="column small-6 large-4">
        <div>
            <p class="h3">Look</p>
            <input type="checkbox" id="look" name="set-name" data-niceSwitch>
            <label for="look"><span class="toggle--on">Oui</span><span class="toggle--off">Non</span></label>
        </div>
        <div>
            <p class="h3">Time</p>
            <input type="checkbox" id="time" name="set-name" data-niceSwitch>
            <label for="time"><span class="toggle--on">Oui</span><span class="toggle--off">Non</span></label>
        </div>
        <div>
            <p class="h3">Felt</p>
            <input type="checkbox" id="felt" name="set-name" data-niceSwitch>
            <label for="felt"><span class="toggle--on">Oui</span><span class="toggle--off">Non</span></label>
        </div>
    </div>

    <div class="column small-6 large-4">
        <div>
            <p class="h3">Raidlight</p>
            <input type="checkbox" id="raidlight" name="set-name" data-niceSwitch>
            <label for="raidlight"><span class="toggle--on">Oui</span><span class="toggle--off">Non</span></label>
        </div>
        <div>
            <p class="h3">Vertical</p>
            <input type="checkbox" id="vertical" name="set-name" data-niceSwitch>
            <label for="vertical"><span class="toggle--on">Oui</span><span class="toggle--off">Non</span></label>
        </div>
        <div>
            <p class="h3">Dale</p>
            <input type="checkbox" id="dale" name="set-name" data-niceSwitch>
            <label for="dale"><span class="toggle--on">Oui</span><span class="toggle--off">Non</span></label>
        </div>
    </div>
</div>
