{#Storefinder (issu de F2)#}

{#Présenter les services en deux colonnes,
avec pour chacun un slider Oui/Non :
Réglages fins des fixations de ski (service1),
Customisation des chaussures de ski (service2),
Entretien/réparation skis-snowboard (service3),
Location Matériel (service4), Racing shop (service5),
Certifiés Lange bootfitters (service6), service7, service8,service9,service10#}

<h2>Services</h2>

<div class="row">
    <div class="column small-6">
        <div>
            <p class="h3">Réglages fins des fixations de ski</p>
            <input type="checkbox" id="fixations" name="set-name" data-niceSwitch>
            <label for="fixations"><span class="toggle--on">Oui</span><span class="toggle--off">Non</span></label>
        </div>

        <div>
            <p class="h3">Customisation des chaussures de ski</p>
            <input type="checkbox" id="custom_shoes" name="set-name" data-niceSwitch>
            <label for="custom_shoes"><span class="toggle--on">Oui</span><span class="toggle--off">Non</span></label>
        </div>

        <div>
            <p class="h3">Entretien/réparation skis-snowboard</p>
            <input type="checkbox" id="repair" name="set-name" data-niceSwitch>
            <label for="repair"><span class="toggle--on">Oui</span><span class="toggle--off">Non</span></label>
        </div>
    </div>

    <div class="column small-6">
        <div>
            <p class="h3">Location Matériel </p>
            <input type="checkbox" id="rent" name="set-name" data-niceSwitch>
            <label for="rent"><span class="toggle--on">Oui</span><span class="toggle--off">Non</span></label>
        </div>

        <div>
            <p class="h3">Racing shop</p>
            <input type="checkbox" id="racing" name="set-name" data-niceSwitch>
            <label for="racing"><span class="toggle--on">Oui</span><span class="toggle--off">Non</span></label>
        </div>

        <div>
            <p class="h3">Certifiés Lange bootfitters</p>
            <input type="checkbox" id="bootfitters" name="set-name" data-niceSwitch>
            <label for="bootfitters"><span class="toggle--on">Oui</span><span class="toggle--off">Non</span></label>
        </div>
    </div>
</div>
