{#Un champ de type select permet de choisir l'adresse à afficher/modifier.
  Dans le select, on affiche le code adresse (issu de F2) et la raison sociale (de F2)#}
{#Une fois une adresse choisie, on affiche le contenu de cette adresse dans le formulaire principal,
dont les champs visibles sont éditables par défaut#}
<fieldset class="fieldset address_select">
    <legend><h2>Mes addresses de livraison</h2></legend>
    <div data-materialInput>
        <select name="" id="activity" class="select_toogler" data-select-toogler>
            <option value="">--- Select an address ---</option>
            <option value="address_1">Adresse 1 - Raison sociale xxx</option>
            <option value="address_2">Adresse 2 - Raison sociale xxx</option>
        </select>
        <label for="activity">Adresses de livraison</label>
    </div>
</fieldset>