{% if page is defined and not sonata_page_has_block(page, 'content', 'ControllerContent') %}
	{% if content is defined and content is not empty %}
    <div class="columns large-12 medium-12 small-12">
    	{{ content|raw }}
    </div>
    {% endif %}
{% endif %}
{% set content = block('content') is defined ? block('content') : '' %}
{% if content|length > 0 %}
    {{ content|raw }}
{% elseif page is defined %}
    {{ sonata_page_render_container('content', page) }}
{% endif %}