{% extends sonata_block.templates.block_base %}

{% block block %}

    <div class="account_bills">
        <h2>Mes factures</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid consectetur cumque dolore dolorum, earum ex illo maxime nam optio, perspiciatis, quaerat quam quibusdam quo repudiandae sed sequi sit tempora.</p>
    </div>

{% endblock %}