{% extends sonata_block.templates.block_base %}

{% block block %}

    <div class="account_addresses ">
        <form action="">
            <div class="row align-center">
                {#Mes adresses de livraison : select#}
                <div class="column small-12 large-7 large-offset-1">
                    {% include 'blocks/twig/account/account_addresses/account_addresses_select.html.twig' %}
                </div>
                {#Mes adresses de livraison : form#}
                <div class="column small-12 large-5" data-select-toogler-target>
                    {% include 'blocks/twig/account/account_addresses/account_addresses_form.html.twig' %}
                </div>
                {#Storefinder (issu de F2)#} {#Services#}
                <div class="column small-12 large-5 large-offset-1" data-select-toogler-target>
                    {% include 'blocks/twig/account/account_addresses/account_addresses_store_finder.html.twig' %}
                    {% include 'blocks/twig/account/account_addresses/account_addresses_store_services.html.twig' %}
                </div>
                {#Bouton "Demande de modification" enregistrant la demande de modification, sans l'appliquer concrètement#}
                <div class="column small-12" data-select-toogler-target>
                    <p class="text-center">
                        <button type="submit" class="button important">
                            Demande de modification
                        </button>
                    </p>
                </div>
            </div>
        </form>
    </div>

{% endblock %}





