{% extends sonata_block.templates.block_base %}

{% block block %}

    <div class="account_userrights">
        <h2>Changer les paramètres des droits utilisateur</h2>

        <table class="table-responsive">
            <thead>
            <tr>
                <th>Marque</th>
                <th>Accès</th>
                <th>Virtual store</th>
                <th>Export EDI</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td><a href="/fr/user-rights-detail">Rossignol</a></td>
                <td>
                    <ul>
                        <li>HARDGOOD (Alpine, Snowboard, Tech EquipementSki Aplin, Ski Nordique, Bike</li>
                        <li>SOFTGOOD (Ski Alpin, Ski Nordique)</li>
                        <li>PADEL (Padel)</li>
                    </ul>
                </td>
                <td>Non</td>
                <td>
                    <ul>
                        <li>HARDGOOD</li>
                        <li>SOFTGOOD</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td><a href="#">Rossignol</a></td>
                <td>
                    <ul>
                        <li>HARDGOOD (Alpine, Snowboard, Tech EquipementSki Aplin, Ski Nordique, Bike</li>
                        <li>SOFTGOOD (Ski Alpin, Ski Nordique)</li>
                        <li>PADEL (Padel)</li>
                    </ul>
                </td>
                <td>Non</td>
                <td>
                    <ul>
                        <li>HARDGOOD</li>
                        <li>SOFTGOOD</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td><a href="#">Rossignol</a></td>
                <td>
                    <ul>
                        <li>HARDGOOD (Alpine, Snowboard, Tech EquipementSki Aplin, Ski Nordique, Bike</li>
                        <li>SOFTGOOD (Ski Alpin, Ski Nordique)</li>
                        <li>PADEL (Padel)</li>
                    </ul>
                </td>
                <td>Non</td>
                <td>
                    <ul>
                        <li>HARDGOOD</li>
                        <li>SOFTGOOD</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td><a href="#">Rossignol</a></td>
                <td>
                    <ul>
                        <li>HARDGOOD (Alpine, Snowboard, Tech EquipementSki Aplin, Ski Nordique, Bike</li>
                        <li>SOFTGOOD (Ski Alpin, Ski Nordique)</li>
                        <li>PADEL (Padel)</li>
                    </ul>
                </td>
                <td>Non</td>
                <td>
                    <ul>
                        <li>HARDGOOD</li>
                        <li>SOFTGOOD</li>
                    </ul>
                </td>
            </tr>
            </tbody>

            <tfoot></tfoot>

        </table>
    </div>

{% endblock %}