{% extends sonata_block.templates.block_base %}

{% block block %}

    <div class="customer-account">
        <ul class="tabs" data-responsive-accordion-tabs="accordion medium-accordion large-tabs"
            data-allow-all-closed="true" id="customer-account-tabs">
            <li class="tabs-title is-active"><a href="#account_dashboard" aria-selected="true">Mon compte</a></li>
            <li class="tabs-title"><a href="#account_addresses">Mes adresses</a></li>
            <li class="tabs-title"><a href="#account_orders">Mes commandes</a></li>
            <li class="tabs-title">
                <a href="#account_savedcarts_propositions">
                    Paniers sauvegardés & propositions de commandes
                </a>
            </li>
            <li class="tabs-title"><a href="#account_bills">Mes factures</a></li>
            <li class="tabs-title"><a href="#account_shippings">Mes expéditions</a></li>
            <li class="tabs-title"><a href="#account_userrights">Droits utilisateur</a></li>
        </ul>

        <div class="tabs-content" data-tabs-content="customer-account-tabs">
            <div class="tabs-panel is-active" id="account_dashboard">
                {% include 'blocks/twig/account/account_dashboard.html.twig' %}
            </div>
            <div class="tabs-panel" id="account_addresses">
                {% include 'blocks/twig/account/account_addresses.html.twig' %}
            </div>
            <div class="tabs-panel" id="account_orders">
                {% include 'blocks/twig/account/account_orders.html.twig' %}
            </div>
            <div class="tabs-panel" id="account_savedcarts_propositions">
                {% include 'blocks/twig/account/account_savedcarts_propositions.html.twig' %}
            </div>
            <div class="tabs-panel" id="account_bills">
                {% include 'blocks/twig/account/account_bills.html.twig' %}
            </div>
            <div class="tabs-panel" id="account_shippings">
                {% include 'blocks/twig/account/account_shippings.html.twig' %}
            </div>
            <div class="tabs-panel" id="account_userrights">
                {% include 'blocks/twig/account/account_userrights.html.twig' %}
            </div>
        </div>
    </div>

{% endblock %}