{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="choice_universe">
        <h1>Choisissez un univers</h1>
        <div class="row">
            {#Univers list#}
            <div class="column small-12 large-9">
                <div class="row">
                    {#Univers detail#}
                    <div class="column small-12 large-4">
                        <a href="/fr/choice-universe-detail" title="Rossignol / Look" class="universe disabled">
                            <h2>Rossignol / Look</h2>
                            <img src="https://picsum.photos/300/?random" alt="">
                        </a>
                    </div>
                    <div class="column small-12 large-4">
                        <a href="/fr/choice-universe-detail" title="Rossignol / Look" class="universe">
                            <h2>Rossignol / Look</h2>
                            <img src="https://picsum.photos/300/?random" alt="">
                        </a>
                    </div>
                    <div class="column small-12 large-4">
                        <a href="/fr/choice-universe-detail" title="Rossignol / Look" class="universe">
                            <h2>Rossignol / Look</h2>
                            <img src="https://picsum.photos/300/?random" alt="">
                        </a>
                    </div>
                    <div class="column small-12 large-4">
                        <a href="/fr/choice-universe-detail" title="Rossignol / Look" class="universe">
                            <h2>Rossignol / Look</h2>
                            <img src="https://picsum.photos/300/?random" alt="">
                        </a>
                    </div>
                    <div class="column small-12 large-4">
                        <a href="/fr/choice-universe-detail" title="Rossignol / Look" class="universe">
                            <h2>Rossignol / Look</h2>
                            <img src="https://picsum.photos/300/?random" alt="">
                        </a>
                    </div>
                    <div class="column small-12 large-4">
                        <a href="/fr/choice-universe-detail" title="Rossignol / Look" class="universe">
                            <h2>Rossignol / Look</h2>
                            <img src="https://picsum.photos/300/?random" alt="">
                        </a>
                    </div>
                </div>
            </div>
            {#Buttons#}
            <div class="column small-12 large-3">
                <a href="#" class="button primary expanded">Mon panier</a>
                <a href="#" class="button primary expanded">Mes commandes en cours</a>
                <a href="#" class="button primary expanded">Mes factures</a>
            </div>
        </div>
    </div>
{% endblock %}