{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="row align-center">
        <div class="column small-12 large-6">
            <br>
            <h1>Pages réalisées en intégration graphique</h1>
            <br>

            <ul data-niceList style="box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);">
                <li><a href="/fr/html-elements">HTML Elements</a></li>
                <li><a href="/fr/log-in">Connexion</a></li>
                <li><a href="/fr/register">Enregisterment</a></li>
                <li><a href="/fr/customer-account">Mon compte</a></li>
                <li><a href="/fr/user-rights-detail">Droits utilisateur (page de détail)</a></li>
                <li><a href="/fr/choice-universe">Choix univers</a></li>
                <li><a href="/fr/choice-universe-detail">Choix univers (page de détail)</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

