{% extends sonata_block.templates.block_base %}

{% block block %}
<h2>Mon truc à moi</h2>

<p>Change the template settings of your block to display something else. Actually the template setting value is <code>{{ block_context.template  }}</code></p>
{% endblock %}