{% extends sonata_block.templates.block_base %}

{% block block %}
<h2>This is some sample content for <code>TwigBlockService</code></h2>

<p>Change the template settings of your block to display something else. Actually the template setting value is <code>{{ block_context.template  }}</code></p>
{% endblock %}