<footer class="footer">
    <div class="row expanded">
        <div class="column small-12 medium-2 customer-service">
            <a href="#">
                <span class="zmdi zmdi-comment-text"></span>
                <span>Mon service client</span>
            </a>
        </div>
        <div class="vertical-divider"></div>
        <div class="column small-12 medium-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque cupiditate delectus ea eius ex excepturi expedita hic, illo, ipsam iste magni natus nihil repellat repellendus ut velit veniam voluptatibus?</p>
        </div>
        <div class="vertical-divider"></div>
        <div class="column small-12 medium-4">
            <p>© Groupe Rossignol 2018</p>
            <a href="#">Lien 1</a>
            <a href="#">Lien 2</a>
            <a href="#">Lien 3</a>
        </div>
    </div>
</footer>