<form>
    <div data-materialInput>
        <input type="text" placeholder="N° de client">
        <label>N° de client</label>
    </div>
    <div data-materialInput>
        <input type="password" placeholder="Mot de passe">
        <span class="zmdi zmdi-eye unmask"></span>
        <label>Mot de passe</label>
    </div>
    <p class="text-center">
        <input type="submit" class="button" value="Me connecter"/>
        <a href="#" class="lost-password">Mot de passe oublié</a>
    </p>
</form>