{% extends '@SonataSeo/Block/breadcrumb.html.twig' %}

{% block list %}
{% spaceless %}
    <nav aria-label="{{ 'fo.block.breadcrumb.label'|trans() }}" role="navigation">
       {{ parent() }}
    </nav>
{% endspaceless %}
{% endblock %}