// templates/blocks/twig/choice_universe.html.twig
.choice_universe {
  h1 {
    margin-bottom: $global-margin*2;
  }
  a.universe {
    background-color: $headerGray;
    text-decoration: none;
    h2 {
      background-color: #515151;
      text-align: center;
      color: $white;
      margin: 0;
      padding: $global-padding 0;
    }
    img {
      height: 240px;
      width: 100%;
      margin-bottom: $global-margin*2;

      @include breakpoint(medium down) {
        margin-bottom: $global-margin;
      }
    }
    &.disabled {
      cursor: not-allowed;
      opacity: 0.1;
    }
  }
  @include breakpoint(large) {
    a.button {
      margin-bottom: $global-margin*2;
    }
  }

  // Detail
  // templates/blocks/twig/choice_universe/choice_universe_detail.html.twig
  &_detail {
    background-color: $headerGray;
    margin-bottom: $global-margin*2;

    &_list {
      position: relative;

      img {
        width: 100%;
        height: auto;
      }

      h2 {
        font-size: rem-calc(20);
        position: absolute;
        top: 50%;
        left: $global-margin;
        transform: translate(0, -50%);
        color: #223b68;
      }
    }
    &_rss {
      @include breakpoint(large) {
        justify-content: space-between;

        > .column {
          @include flex;
          img {
            margin-right: $global-margin;
          }
          p {
            align-self: center;
          }
        }
      }
    }
  }
}