.account_userrights_detail {

  form {
    .top {
      @include flex;
      flex-direction: column;
      flex-flow: wrap;
      justify-content: space-between;

      p.h2 {
        flex: 0 0 100%;
        margin-bottom: rem-calc(20);
      }
      > h2, ul {
        padding: 0;
        margin: 0;
      }
      ul {
        @include flex;
        list-style-type: none;

        @include breakpoint(small only) {
          flex-direction: row;
          flex-flow: wrap;
          justify-content: space-between;
          width: 100%;
        }

        li {
          @include flex;

          @include breakpoint(medium) {
            align-items: flex-start;

            &:first-child {
              margin-right: rem-calc(50);
            }
          }

          span.h2 {
            margin-right: $global-margin;
            line-height: rem-calc(32); // Because switch label height = 32
          }
        }
      }

    }
    hr {
      margin-top: rem-calc(5);
    }
    p.h3 {
      font-weight: $global-weight-normal;
    }
    button {
      @include breakpoint(medium) {
        width: rem-calc(86);
      }
    }
  }
}