// Footer
footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  color: $white;
  padding: $global-padding;
  text-transform: uppercase;

  .vertical-divider {
    margin: 0 rem-calc(20);
    height: rem-calc(50);

    @include breakpoint(medium down) {
      display: none;
    }
  }

  .customer-service {
    font-weight: $global-weight-bold;
    font-size: rem-calc(17);
    display: flex;

    a {
      color: $white;
      text-decoration: none;
      width: 100%;
      text-align: center;
      align-self: center;
      &:hover {
        color: $white;
      }
    }
  }
}