<form action="">
    <h2>Mes informations</h2>
    {#Numéro de client (nom éditable) : login utilisateur#}
    <div data-materialInput>
        <input type="text" placeholder="Numéro de client" readonly value="xxx aaa vvv">
        <label>Numéro de client</label>
    </div>
    {#Raison Sociale : raison sociale customer#}
    <div data-materialInput>
        <input type="text" placeholder="Raison sociale"
               aria-errormessage="error-purpose" required pattern="alpha_numeric">
        <label>Raison sociale</label>
        <span class="form-error" id="error-purpose">Champ requis ou invalide</span>
    </div>
    {#Email : email non interne utilisateur#}
    <div data-materialInput>
        <input type="email" placeholder="email@example.com"
               required aria-errormessage="error-email" pattern="email">
        <label>Email</label>
        <span class="form-error" id="error-email">Champ requis ou invalide</span>
    </div>
    {#Contact chez le client : champ VotreRef1 de F1#}
    <div data-materialInput>
        <input type="text" placeholder="Contact client"
               aria-errormessage="error-contact" required pattern="alpha">
        <label>Contact client</label>
        <span class="form-error" id="error-contact">Champ requis ou invalide</span>
    </div>
    {#Adresse 1 : adresse de facturation du fichier F1#}
    <div data-materialInput>
        <input type="text" placeholder="Adresse"
               aria-errormessage="error-adresse" required pattern="alpha_numeric">
        <label>Adresse</label>
        <span class="form-error" id="error-adresse">Champ requis ou invalide</span>
    </div>
    {#Adresse 2 : adresse de facturation du fichier F1#}
    <div data-materialInput>
        <input type="text" placeholder="Adresse 2"
               aria-errormessage="error-adresse-2" required pattern="alpha_numeric">
        <label>Adresse 2</label>
        <span class="form-error" id="error-adresse-2">Champ requis ou invalide</span>
    </div>
    {#Adresse 3 : adresse de facturation du fichier F1#}
    <div data-materialInput>
        <input type="text" placeholder="Adresse 3"
               aria-errormessage="error-adresse-3" required pattern="alpha_numeric">
        <label>Adresse 3</label>
        <span class="form-error" id="error-adresse-3">Champ requis ou invalide</span>
    </div>
    {#Code postal : adresse de facturation du fichier F1#}
    <div data-materialInput>
        <input type="text" placeholder="Code postal"
               aria-errormessage="error-codepostal" required pattern="alpha_numeric">
        <label>Code Postal</label>
        <span class="form-error" id="error-codepostal">Champ requis ou invalide</span>
    </div>
    {#Ville : adresse de facturation du fichier F1#}
    <div data-materialInput>
        <input type="text" placeholder="Ville"
               aria-errormessage="error-ville" required pattern="alpha">
        <label>Ville</label>
        <span class="form-error" id="error-ville">Champ requis ou invalide</span>
    </div>
    {#Département/Région : adresse de facturation du fichier F1#}
    <div data-materialInput>
        <select name="" id="departement_region" required aria-errormessage="error-departement_region">
            <option value=""></option>
            <option value="Département/Région 1">Département/Région 1</option>
            <option value="Département/Région 2">Département/Région 2</option>
            <option value="Département/Région 3">Département/Région 3</option>
        </select>
        <label for="departement_region">Département/Région</label>
        <span class="form-error" id="error-departement_region">Champ requis</span>
    </div>
    {#Pays : adresse de facturation du fichier F1#}
    <div data-materialInput>
        <select name="" id="pays" required aria-errormessage="error-pays">
            <option value=""></option>
            <option value="france">France</option>
            <option value="deutschland">Deutschland</option>
            <option value="england">England</option>
        </select>
        <label for="pays">Pays</label>
        <span class="form-error" id="error-pays">Champ requis</span>
    </div>
    {#Téléphone : adresse de facturation du fichier F1#}
    <div data-materialInput>
        <input type="text" placeholder="Téléphone"
               required aria-errormessage="error-telephone" pattern="alpha_numeric">
        <label>Téléphone</label>
        <span class="form-error" id="error-telephone">Champ requis ou invalide</span>
    </div>
    {#Fax : adresse de facturation du fichier F1#}
    <div data-materialInput>
        <input type="text" placeholder="Fax"
               required aria-errormessage="error-fax" pattern="alpha_numeric">
        <label>Fax</label>
        <span class="form-error" id="error-fax">Champ requis ou invalide</span>
    </div>
    {#Bouton "Demande de modification" enregistrant la demande de modification, sans l'appliquer concrètemen#}
    <p class="text-center">
        <button type="submit" class="button important">Demande de modification</button>
    </p>
</form>