{#Modifier mon mot de passe (formulaire)#}
<form action="">
    <h2>Modifier mon mot de passe</h2>
    {#Ancien mot de passe (obligatoire)#}
    <div data-materialInput>
        <input type="text" placeholder="Ancien mot de passe"
               aria-errormessage="error-old-pwd" required pattern="alpha_numeric">
        <label>Ancien mot de passe</label>
        <span class="form-error" id="error-old-pwd">Champ requis ou invalide</span>
    </div>
    {#Nouveau mot de passe (obligatoire)#}
    <div data-materialInput>
        <input type="text" placeholder="Nouveau mot de passe"
               aria-errormessage="error-new-pwd" required pattern="alpha_numeric">
        <label>Nouveau mot de passe</label>
        <span class="form-error" id="error-new-pwd">Champ requis ou invalide</span>
    </div>
    {#Confirmer le nouveau mot de passe (obligatoire)#}
    <div data-materialInput>
        <input type="text" placeholder="Confirmer le nouveau mot de passe"
               aria-errormessage="error-new-pwd-confirm" required pattern="alpha_numeric">
        <label>Confirmer le nouveau mot de passe</label>
        <span class="form-error" id="error-new-pwd-confirm">Champ requis ou invalide</span>
    </div>
    {#Bouton "Modifier mon mot de passe" qui valide le formulaire de changement de mot de passe#}
    <p class="text-center">
        <button type="submit" class="button important">Modifier mon mot de passe</button>
    </p>
</form>